.github{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    grid-column-start: 23;
    grid-column-end: 25;
    grid-row-start: 2;
    font-size: 1.5rem;
        font-family: "Shadows Into Light", cursive;
            font-weight: 500;
            font-style: normal; 
}
.hidden {
    display: none;
}
.github:hover{
    background-color: white;
    transition: 0.5s;
    color: black;
    cursor: pointer;
    border: 0.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.vtn_login{
    grid-row-start: 5;
    grid-column-start: 4;
    grid-column-end: 23;
    grid-row-end: 22;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2rem;
}
.lgn_1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px dotted  rgb(211, 211, 211);
    padding: 1rem;
}
.lgn_1 img{
    width: 20rem;
    height: 20rem;
}
.lgn_2{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(10,1fr);
    padding: 1rem;
}
.lgn_2 h1{
    grid-column-start: 1;
    grid-column-end: 12;
    border-bottom: 0.5px solid black;
    font-family: "Shadows Into Light", cursive;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
}
.lgn_2 h2{
    font-family: "Shadows Into Light", cursive;
        font-weight: 500;
        font-style: normal;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 9;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    align-items: center;
}
.user{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 5;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.contra{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 6;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.caja_btns{
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.beta{
    background-color: black;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 14rem;
    border-radius: 8px;
    font-family: "Shadows Into Light", cursive;
        font-weight: 500;
        font-style: normal;
}
.beta:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid black;
    cursor: pointer;
}

.btn_login{
    background-color: black;
    height: 100%;
    color: white;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        width: 14rem;
        border-radius: 8px;
        font-family: "Shadows Into Light", cursive;
            font-weight: 500;
            font-style: normal;

}
.btn_login:hover{
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
    color: black;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.txt_cr{
    grid-column-start: 4;
    grid-row-start: 10;
    grid-column-end: 9;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Shadows Into Light", cursive;
        font-weight: 100;
        font-style: normal;
        color: rgb(196, 196, 196);
        font-size: 1.5rem;
}
.txt_cr:hover{
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.vent_login{
   grid-column-start: 1;
   grid-column-end: 26;
   grid-row-start: 1;
   grid-row-end: 26;
   display: grid;
   grid-template-columns: repeat(25,1fr);
   grid-template-rows: repeat(25,1fr);
    gap: 1rem;
    padding: 1rem;
}
.vent_cc{
    width: 40rem;
    height: 40rem;
    position: fixed;
    background-color: white;
    border:  1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txt_error{
    color: red;
    display: flex;
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 7;
}
.header_login{
    grid-column-start: 1;
    grid-column-end: 26;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(2,1fr);
    border-bottom: 5px dotted rgb(172, 172, 172);
    justify-content: center;
    align-items: center;
}
.div_tareas{
    grid-column-start: 1;
    grid-column-end: 26;
    grid-row-start: 5;
    grid-row-end: 26;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.img_user{
    
    grid-column-start: 40;
}
.header_login h2{
    grid-column-start: 2;
    grid-column-end: 4;
    font-family: "Shadows Into Light", cursive;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
}
.add_tarea{
    grid-column-start: 39;
    justify-self: flex-end;
}
.buscar{
    grid-column-start:30 ;
    border: none;
    border-bottom: 1px solid black;
    grid-column-end:39;
    outline: none;
}
.nom_tarea{
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: "Shadows Into Light", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.5rem;
        color: rgb(177, 177, 177);
}
.asignado_spn{
    grid-column-start: 22;
    grid-column-end: 28 ;
     display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Shadows Into Light", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.5rem;
        color: rgb(177, 177, 177);
}
.fecha_spn{
     grid-column-start: 29;
    grid-column-end: 34;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Shadows Into Light", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.5rem;
        color: rgb(177, 177, 177);
}
.estado_spn{
    grid-column-start: 35;
    grid-column-end: 41;
     display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Shadows Into Light", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.5rem;
        color: rgb(177, 177, 177);
}
.img_u{
    width: 4rem;
    height: 4rem;
}
.tarea{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    grid-template-columns: 1fr 21rem 21rem 21rem ;
    justify-content: center;
    height: 5rem;
    justify-content: center;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-size: 1.4rem;
        font-style: normal;
        padding: 1rem;
}
.asignado img{
    width: 3rem;
    height: 3rem;
}
.asignado{
    display: flex;
    align-items: center;
}
.nm_tarea{
    display: flex;
    align-items: center;
}
.fecha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.est{
    width: 14rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.estado-rojo {
    background-color: rgb(255, 99, 99);
}

.estado-azul {
    background-color: rgb(255, 196, 0);
}

.estado-verde {
    background-color: rgb(18, 214, 18);
}
.modal {
    position: fixed;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}


.modal-content h2 {
    margin-top: 0;

    margin-bottom: 20px;

    font-size: 1.5em;

    text-align: center;

}

.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

}

.campo span {
    margin-bottom: 5px;

}

.campo input[type="text"],
.campo input[type="date"] {
    padding: 8px;
    
    border: 1px solid #ddd;

    border-radius: 4px;

    width: 100%;

    box-sizing: border-box;

}


.campo select {
    padding: 8px;

    border: 1px solid #ddd;

    border-radius: 4px;

    width: 100%;

    box-sizing: border-box;

}

#usuarios {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;

}

.usuario {
    display: flex;
    align-items: center;
}


.img_perfil_modal {
    width: 30px;

    height: 30px;

    border-radius: 50%;

    margin-right: 10px;
   
}


.boton {
    background-color: #007bff;

    color: white;
    
    padding: 10px;

    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.boton:hover {
    background-color: #0056b3;
}
#close_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
}
#close_modal:hover {
    background-color: #c82333;

}
#estado_tarea{
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;

    
}
.estado_opcion{
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.2rem;
}
.estado-rojo:hover{
    transition: 0.5s;
    background-color: rgb(221, 57, 57);
}
.estado-azul:hover {
    background-color: rgb(199, 146, 0);
    transition: 0.5s;
}

.estado-verde:hover {
    background-color: rgb(0, 177, 0);
    transition: 0.5s;
}

.menu-categorias {
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
    position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        
        height: 100%;
        background-color: black;
        color: white;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
}

.menu-categorias .menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
}

.menu-categorias .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
}

.menu-categorias .menu-header h2 {
    margin: 0;
    font-size: 24px;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
   
}

.menu-categorias .close-menu {
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.menu-categorias .categorias-list {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
}

.menu-categorias .categoria {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
}

.menu-categorias .categoria:hover {
    background-color: #f0f0f0;
}


.menu-categorias.open {
    transform: translateX(0);
}


body.menu-open {
    overflow: hidden;
}
.menu{
    cursor: pointer;
}

.modal-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-menu.show {
    opacity: 1;
    visibility: visible;
}


.modal-menu-content {
    width: 300px;

    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
   
}


.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;

}


.modal-menu-content h2 {
    margin: 0 0 15px;
    font-size: 18px;
    color: #333;
}


.categorias-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categorias-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #333;
}

.categorias-list li:hover {
    background-color: #f0f0f0;
}
.volver_login{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
        font-size: 1.2rem;
}
.volver_login:hover{
    transition: 0.2s;
    color: red;
}